env: dev
log-level: info
log-format: text

api-base-url: http://gomall.ac.cn/goMallApi/api
api-timeout: 10s
api-lfs-timeout: 30m
api-lfs-idle-timeout: 2m
api-insecure: false
api-user-agent: gomall-cli/0.1.0

auth-login-path: /api/auth/login
auth-token-header: token
auth-session-file: ""
